services:
  postgres:
    image: postgis/postgis:16-3.4-alpine
    container_name: climate-db
    env_file:
      - production.env
    ports:
    - '5432:5432'
    logging:
      driver: "json-file"
      options:
        max-size: "1M"
        max-file: "10"

  app:
    build:
      dockerfile: Dockerfile
    container_name: climatemq
    command: bash start.sh
    env_file:
      - production.env
    restart: unless-stopped
    volumes:
      - .:/climatemq
    depends_on:
      - postgres
      - rabbitmq
    logging:
      driver: "json-file"
      options:
        max-size: "1M"
        max-file: "10"
    ports:
      - '8080:8000'

  rabbitmq:
    image: rabbitmq:3.13.0-management
    container_name: 'rabbitmq'
    ports:
        - 5672:5672
        - 15672:15672
    volumes:
        - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
        - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq

  celery:
    build: .
    command: celery -A geodjango.celery:app worker -l info
    volumes:
      - .:/climatemq
    environment:
      - DJANGO_SETTINGS_MODULE=geodjango.settings
    depends_on:
      - rabbitmq
      - postgres

  celery-beat:
    build: .
    command: celery -A geodjango.celery:app beat -l info
    volumes:
      - .:/climatemq
    depends_on:
      - rabbitmq
      - postgres
