__pycache__/
*.py[cod]
/.metadata/
.sonarlint
mq-sensors/.settings
mq-sensors/target
/RemoteSystemsTempFiles
mq-sensors/.project
mq-sensors/.classpath
mq-sensors/RemoteSystemsTempFiles
__pycache__
static
/.vscode
climate-mq/celerybeat-schedule
/climate-mq/climenv
