{% extends 'base.html' %}
{% load static %}
{% block title %}Stations Map{% endblock %}
{% block css %}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'map.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/leaflet/dist/leaflet.css"
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet/dist/leaflet.js"
      crossorigin=""
    ></script>
{% endblock %}
{% block content %}
    <div id="map"></div>
    <div class="mb-3">
      <select class="form-select select-on-map" aria-label="Default select example">
          <option value=0 selected>All stations (Open this to select variable)</option>
          {% for variable in variable_list %}
          <option value={{variable.id}}>{{variable.name}}</option>
          {% endfor %}
      </select>
  </div>
    <script
      src="{% static 'map.js' %}"
      defer
    ></script>
{% endblock %}