{% extends 'base.html' %}
{% load static %}
{% block title %}Stations List{% endblock %}
{% block content %}
<div id="container" class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
<table class="table" id="stationTable" style="width:100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'table_station.js' %}"></script>
{% endblock %}